{% block title %}{{album.name}}{% endblock %}

{% load filters %}

{% block main %}
<div class="playlist">
    <table width="620">
        <tr><th colspan="4">{{album.name}}</th></tr>
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Length</th>
        </tr>
        {% for song in songs %}
        <tr class="{% if forloop.counter|divisibleby:"2" %}even{% else %}odd{% endif %}">
        <td>{{song.artist.name}}</td>
        <td>{{ song.length|stom }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}