<h1>{% block title %}Welcome To Gaana. Listen To Free Music Online.{% endblock %}</h1>
{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
<p><strong>Welcome {{ user.get_username }}. Thanks For Logging In.</strong></p>
<br><a href="/music/">Browse Your Favourite Music</a></br>
<br>
<a href="/login/">Logout</a>
</br>
{% else %}
<p><strong>Welcome New User. Please Sign Up to browse your favourite Music.</strong></p>
<a href="/sign-up/">Sign Up</a>

<p><strong>Existing Users, Please login to enjoy your favourite Music.</strong></p>
<a href='/login/'>Sign In</a>
{% endif %}
{% endblock %}